.header {
    background: var(--white);
    position: sticky;
    top: 0;
    min-width: 100%;

}


.header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

@media screen and (min-width: 1024px) {
    .header {
        min-width: 100vw;
        position: relative;
    }
}

@media screen and (max-width: 320px) {
    .header {
        min-width: 100vw;
        position: relative;
    }

    .header__conteiner {
        background: var(--white);
        min-height: 220px;
        display: flex;
        flex-direction: column;
    }

    .items__link {
        margin: 0;
        padding: 0;
    }
}