.logo {
    background-color: var(--accent-color);
    width: 50px;
    height: 48px;
    border-radius: 50%;
}

.circle__small {
    width: 25.92px;
    height: 25.92px;
    border-radius: 50%;
    background-color: var(--white);
    transform: translate(25px, 22px);
    box-shadow: 0 4px 4px 0 rgba(57, 70, 136, 0.18);
}